

/* Selection selector */
::-moz-selection { /* Code for Firefox */
    background: #333333;
    color: #f9f9f9;
    text-shadow: none;
}

::selection {
    background: #333333;
    color: #f9f9f9;
    text-shadow: none;
    }
    
/* Activities and Vacancies on homepage */
.section-title{
	text-align: center;
	padding:20px;
	}

/*link*/
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:none}

i{
padding:5px;
}

.detailTextbox{
padding: 30px 70px 30px 70px;
}

.applyBtn{
padding-bottom:30px;
}

.similarContainer {
  display: block;
  padding: 0px;
  margin:0px;
  margin-bottom: 10px;
  line-height: 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.similarContainer hr{
margin:5px;
}


 .similarContainer h4{
padding-left:4px;
}
 
.similarItems {
padding-left:15px !important;
padding-right:0px !important;
margin:0 !important;
} */

/* 
.similarItems h5{
padding-top:0px;
} */
/* .similarItems p{
font-size:3px;
} */
